<footer class="footer">
  <div class="footer__contained">
    <div class="footer__cols">
      <div class="footer__cols__col">
      </div>
      <div class="footer__cols__col">
      </div>
      <div class="footer__cols__col">
      </div>
      <div class="footer__cols__col">
      </div>
      <div class="footer__cols__col">
        <div>
          <a href="{{ site.baseurl }}/privacy_policy">Privacy Policy</a> |
        </div>
        <div>
          <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS Feed</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    &copy; <a href="http://www.apache.org">The Apache Software Foundation</a>
  </div>
</footer>
