<footer class="footer">
  <div class="footer__contained">
    <div class="footer__cols">
      <div class="footer__cols__col">
        <img src="/images/beam_logo_circle.svg" class="footer__logo">
        <img src="/images/apache_logo_circle.svg" class="footer__logo">
      </div>
      <div class="footer__cols__col">
        <div class="footer__cols__col__title">Start</div>
        <div class="footer__cols__col__link"><a href="#TODO">Overview</a></div>
        <div class="footer__cols__col__link"><a href="#TODO">Quickstart</a></div>
        <div class="footer__cols__col__link"><a href="#TODO">Walkthroughs</a></div>
        <div class="footer__cols__col__link"><a href="#TODO">Downloads</a></div>
      </div>
      <div class="footer__cols__col">
        <div class="footer__cols__col__title">Docs</div>
        <div class="footer__cols__col__link"><a href="#TODO">Concepts</a></div>
        <div class="footer__cols__col__link"><a href="#TODO">Pipelines</a></div>
        <div class="footer__cols__col__link"><a href="#TODO">Runners</a></div>
        <div class="footer__cols__col__link"><a href="#TODO">API Reference</a></div>
      </div>
      <div class="footer__cols__col">
        <div class="footer__cols__col__title">Community</div>
        <div class="footer__cols__col__link"><a href="#TODO">Contribute</a></div>
        <div class="footer__cols__col__link"><a href="#TODO">Team</a></div>
        <div class="footer__cols__col__link"><a href="#TODO">Media</a></div>
      </div>
      <div class="footer__cols__col">
        <div class="footer__cols__col__title">Resources</div>
        <div class="footer__cols__col__link"><a href="#TODO">Blog</a></div>
        <div class="footer__cols__col__link"><a href="#TODO">Support</a></div>
        <div class="footer__cols__col__link"><a href="https://github.com/apache/beam">GitHub</a></div>
        <div>
          <a href="{{ site.baseurl }}/privacy_policy">Privacy Policy</a> |
        </div>
        <div>
          <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS Feed</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    &copy; <a href="http://www.apache.org">The Apache Software Foundation</a>
  </div>
</footer>
